﻿{% extends 'base.html' %}
{% load wagtailimages_tags wagtailcore_tags %}
{% block content %}
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        
        <title>
            {{ self.header_title }}
        </title>
        <meta name="description" content="{{self.meta_content}}" />
        
    </head>
    <body>
    <!-- Preloader-->
    <!-- Header Area-->{% include "header.html" %}
    <!-- Scroll Indicator-->
    <div id="scrollIndicator"></div>
    <!-- Breadcrumb Area-->
    <!-- saasbox Blog Area-->
    <div class="saasbox--blog--area section-padding-120">
        <div class="container">

            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <div class="single-blog-details-area">
                        {% image self.image original as img %}

                        <h1 class="blog">{{ self.subtitle }}</h1>
                        <img class="post-thumbnail mb-5" src="{{ img.url }}" alt="Government Facilities Management Software">
                        <p>{{ self.content }}</p>

                    </div>
                    <div class="col-1"></div>
                    <!-- Post Tag & Share Button-->
                    <div class="post-tag-share-button d-sm-flex align-items-center justify-content-between my-5">
                        <!-- Post Tags-->
                        <div class="post-tag pb-5">
                            <ul class="d-flex align-items-center">
                                <li><a href="#">agency</a></li>
                                <li><a href="#">business</a></li>
                                <li><a href="#">studio</a></li>
                            </ul>
                        </div>
                        <!-- Share Button-->
                        <!-- <div class="share-button pb-5"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-pinterest"></i></a></div> -->
                    </div>
                    <!-- Comments Area-->
                </div>
            </div>
        </div>
    </div>
    <!-- Cool Facts Area-->
    <section class="cta-area cta3 py-5">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-sm-8">
                    <div class="cta-text mb-4 mb-sm-0">
                        <h4 class="text-white mb-0">{{ self.requestcontent }}.</h4>
                    </div>
                </div>
                <div class="col-12 col-sm-4 text-sm-right"><a class="btn saasbox-btn white-btn" href="/contact-form/">{{ self.requestbutton }}</a></div>
            </div>
        </div>
    </section>
    <!-- Footer Area-->{% include "footer.html" %}
    <!-- All JavaScript Files-->{% include "all_js.html" %}</body>


{% endblock %}
</html>