{% load wagtailcore_tags %}
{% load i18n wagtailcore_tags %}
{% block content %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W363RVV"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "Domitos Facility Management",
        "url": "https://domitos.com/",
        "logo": "https://domitos.com/static/img/core-img/logo.png",
        "alternateName": "Domitos",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "Cendex Centre",
            "addressLocality": "120 Lower Delta Rd",
            "addressRegion": "Bukit Merah",
            "postalCode": "169208",
            "addressCountry": "Singapore"
        },

        "contactPoint": [{
            "@type": "ContactPoint",
            "telephone": "+91-9400608604",
            "contactType": "customer service",
            "email": "consulting@domitos.com",
            "areaServed": [
                "US",
                "IN",
                "SG"
            ]
        }, {
            "@type": "ContactPoint",
            "telephone": "+91-9620680848",
            "contactType": "sales",
            "email": "consulting@domitos.com"
        }]
    }
</script>
<header class="header-area header2">
    <div class="container">
        <div class="classy-nav-container breakpoint-off">
            <nav class="classy-navbar navbar2 justify-content-between" id="saasboxNav">
                <!-- Logo-->
                <a class="nav-brand mr-5" href="/"><img src="/static/img/core-img/logo.png" alt="logo-domitos"></a>
                <!-- Navbar Toggler-->
                <div class="classy-navbar-toggler"><span class="navbarToggler"><span></span><span></span><span></span><span></span></span>
                </div>
                <!-- Menu-->
                <div class="classy-menu">
                    <!-- close btn-->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>
                    <!-- Nav Start-->
                    <div class="classynav">
                        <ul id="corenav">
                            <li><a href="/">Home</a>
                            </li>
                            <li><a href="/covid-solutions/">COVID-Management</a>
                            </li>
                            <li><a href="#">Modules</a>
                                <div class="megamenu">
                                    <ul class="single-mega cn-col-3">
                                        <li><a href="/module/lead-management/">Lead Management</a></li>
                                        <li><a href="/module/proposals/">Proposals & Contract</a></li>
                                        <li><a href="/module/on-off-boarding/">Onboarding & Offboarding</a></li>
                                        <li><a href="/module/availability-management/">Availability Management</a></li>
                                        <li><a href="/module/facility-overview/">Facility Overview</a></li>
                                        <li><a href="/module/erp-integrations">ERP Integrations</a></li>
                                        <li><a href="/module/accounting-module">Accounting</a></li>
                                    </ul>
                                    <ul class="single-mega cn-col-3">
                                        <li><a href="/module/client-management/">Client Portal</a></li>
                                        <li><a href="/module/unit-management/">Unit Management</a></li>
                                        <li><a href="/module/tenant-management/">Tenant Management</a></li>
                                        <li><a href="/module/payment-management/">Payment Collection</a></li>
                                        <li><a href="/module/issue-management/">Issues</a></li>
                                        <li><a href="/module/field-service/">Field Service</a></li>
                                        <li><a href="/module/inspections/">Inspections & Audits</a></li>
                                    </ul>
                                    <ul class="single-mega cn-col-3">
                                        <li><a href="/module/property-maintenance/">Property Maintenance</a></li>
                                        <li><a href="/module/assets-management/">Assets</a></li>
                                        <li><a href="/module/vendor-management/">Vendor Management</a></li>
                                        <!-- <li><a href="/module/inspections-management">Inspections</a></li> -->
                                        <li><a href="/module/reports">Reports</a></li>
                                        <li><a href="/module/enterprise-search">Extensive Search</a></li>
                                        <li><a href="/module/reports">Compliance Management</a></li>
                                    </ul>

                                </div>
                            </li>
                            <li><a href="#blog">Services</a>
                                <ul class="dropdown">
                                   <li><a href="/training/">Training</a></li>
                                   <li><a href="/marketing-consulting/">Marketing & Consulting</a></li>
                                    <li><a href="/vendor-supplier-training/">Vendor/Supplier Training</a></li>
                                    <li><a href="/support-services/">Support Services</a></li>
                                     <li><a href="/consulting-service/">Consulting service-standard</a></li>
                                </ul>
                            </li>
                            <li><a href="#blog">Industries</a>
                                <ul class="dropdown">
                                    <li><a href="/industry/government/">Government</a></li>
                                    <li><a href="/industry/retail/">Retail</a></li>
                                    <li><a href="/industry/luxury-retail/">Luxury Retail</a></li>
                                    <li><a href="/industry/restaurants/">Restaurant</a></li>
                                    <li><a href="/industry/convenience-store/">Convenience Store</a></li>
                                    <li><a href="/industry/retail-healthcare/">Retail Healthcare</a></li>
                                    <li><a href="/industry/financial/">Financial</a></li>
                                    <li><a href="/industry/grocery-supermarkets/">Grocery/SuperMarkets</a></li>
                                </ul>
                            </li>
                            <li><a href="#blog">Resources</a>
                                <ul class="dropdown">
                                    <li><a href="/blog/">Blog</a></li>
                                    <li><a href="/resources/partners/">For Partners</a></li>
                                    <li><a href="/resources/downloads/">Downloads</a></li>

                                </ul>
                            </li>
                            <li>
                               
                                <div class="language-dropdown text-center text-lg-right mt-4 mt-lg-0">
                                <div class="btn-group dropbottom">
                                    <a class="btn saasbox-btn-2 dropdown-toggle text-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">LN</a>
                                    {% if page %}
                                    {% for translation in page.get_translations.live %}
                                        {% get_language_info for translation.locale.language_code as lang %}
                                    <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="{% pageurl translation %}" hreflang="{{ language_code }}">
                                       {{ lang.name_local }}
                                    </a>
                                        {% endfor %}
                                        {% endif %}
                                </div>
                            </div>
                            
                        </li>
                        </ul>
                        <!-- Login Button-->
                        <div class="login-btn-area ml-4 mt-4 mt-lg-0"><a class="btn saasbox-btn btn-sm" href="/contact-form">Contact</a></div>
                    </div>
                </div>
            </nav>
        </div>
    </div>

</header>
{% endblock %}