<style>
    .custom-modal {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1050;
        visibility: hidden;
        opacity: 0;
        transition: .6s;
    }
    
    .custom-modal.show {
        display: block;
        visibility: visible;
        opacity: 1;
        transition: 0.0s;
    }
    
    .custom-modal-backdrop {
        width: 100%;
        height: 100%;
        max-height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px;
        overflow: auto;
    }
    
    .cm-body {
        position: relative;
        background-color: white;
        width: 100%;
        max-width: 800px;
        max-height: 100%;
    }
    
    .cm-body-row {
        display: flex;
    }
    
    .cm-body-col {
        width: 50%;
    }
    
    .cm-body-col {
        padding: 30px;
    }
    
    .cm-body-col {}
    
    .interactive-modal1 .cm-title {
        background-color: rgb(239, 239, 239);
        font-size: 25px;
        color: rgb(60, 91, 151);
        margin: 20px 0;
    }
    
    .interactive-modal2 .cm-title {
        font-size: 25px;
        color: rgb(60, 91, 151);
        margin: 20px 0;
        color: #3b2f6f;
    }
    
    .interactive-modal3 .cm-title {
        font-size: 25px;
        color: #fc7a00;
        margin: 20px 0;
    }
    
    .interactive-modal2 .main-img {
        width: 100%;
    }
    
    .interactive-modal3 .main-img {
        width: 100%;
    }
    
    .bg-green {
        background-color: #61ba4d;
    }
    
    .cm-body p {
        font-size: 16px;
        margin-bottom: 20px;
        line-height: 1.4;
        color: rgb(102, 104, 120);
    }
    
    .highlighter {
        background-color: #ff9;
        color: black;
        font-weight: 700;
    }
    
    .cm-btn-large {
        outline: none;
        width: 100%;
        font-size: 20px;
        font-weight: 600;
        line-height: 1;
        padding: 20px 12px;
        border-radius: 3px;
        box-shadow: none;
    }
    
    .cm-btn-primary {
        background-color: #ffd900;
        border: solid 1px #d9bc00;
        color: #3b3b3b;
    }
    
    .cm-btn-blue {
        border: solid 1px #0089d1;
        background-color: #0089d1;
        color: white;
        font-size: 17px !important;
    }
    
    .cm-btn-red {
        background-color: #ffa238;
        border: solid 1px #838383;
        color: white;
        font-size: 17px !important;
    }
    
    .cm-btn-yellow {
        background-color: #ff9000;
        border: solid 1px #ff9000;
        color: white;
        font-size: 17px !important;
    }
    
    .cm-btn-secondary {
        outline: none;
        width: 100%;
        border: solid 1px rgba(102, 104, 120, 0.4);
        background-color: white;
        font-size: 18px;
        font-weight: 500;
        line-height: 1;
        color: #666878;
        padding: 20px 12px;
        border-radius: 3px;
        box-shadow: none;
    }
    
    .cm-body .btn-warning:focus {
        background-color: #ffd900;
        border-color: black;
        box-shadow: none;
    }
    
    .cm-body .btn-outline-secondary:focus {
        background-color: white;
        border-color: black;
        box-shadow: none;
    }
    
    .modal-close-btn {
        width: 25px;
        height: 25px;
        position: absolute;
        right: -31px;
        top: -15px;
        z-index: 1;
        cursor: pointer;
        border: none !important;
        background: transparent;
        outline: none !important;
    }
    
    .modal-close-btn-x {
        height: 23px;
        width: 3px;
        margin-left: 12px;
        background-color: white;
        transform: rotate(45deg);
        Z-index: 1;
    }
    
    .modal-close-btn-y {
        height: 23px;
        width: 3px;
        background-color: white;
        transform: rotate(90deg);
        Z-index: 2;
    }
</style>
<div class="custom-modal interactive-modal3" id="interactiveModal3">
    <div class="custom-modal-backdrop">
        <div class="cm-body">
            <button class="modal-close-btn">
          <div class="modal-close-btn-x"><div class="modal-close-btn-y"></div></div>
        </button>
            <div class="row">
                <div class="col-12 col-md-4 pr-md-0 pt-md-0 pb-md-0">
                    <img src="/static/img/modal.jpg" class="main-img">
                </div>
                <div class="col-12 col-md-8 pl-md-0 pt-md-0 pb-md-0">
                    <div class="p-4 pl-md-4 pt-md-4 pb-md-4">
                        <h2 class="cm-title text-uppercase">Interested in Domitos? Get the Features Guide Today!</h2>
                        <p class="text-black-50">Domitos, is world's most sought after facility Management System and we look forward to work with. Digitize your facilities today!</p>
                        <form>
                            <div class="row">
                                <div class="col-12">
                                    <label for="email">Email Address:</label>
                                    <input id="email" class="form-control mb-30" type="email" placeholder="you@yourdomain.com" name="email" value="" required="true">
                                    <button id="submitBtn" class="cm-btn cm-btn-large cm-btn-red mb-3 shadow text-uppercase">Know more!</button>

                                    <!-- <a href="#" onclick="hideCmModal()" class="text-black-50">No thanks, I don’t want the essentials</a> -->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(function() {

        $(".modal-close-btn").on("click", function(e) {
            hideCmModal();
        });

    })
    function validateEmail(email) {
    const re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
    }
    $('#submitBtn').click(function() {
        console.log(email, "is the email");
        if(validateEmail(email)){
            console.log("email is  valid");
        setCookie('gotEmail', true, 5);
        var postContent = {
            email: $('#email').val()
        };
        $.ajax({
            url: '/webapi/modal-emails',
            type: 'post',
            dataType: 'json',
            contentType: 'application/json',
            success: function(data) {
                console.log(data);
            },
            data: JSON.stringify(postContent)
        });
        hideCmModal();
        }else{
            // showCmModal('#interactiveModal3');
        }
    });

    function showCmModal(modalID) {
        $(modalID).addClass("show");
    };

    function hideCmModal() {
        $(".custom-modal").removeClass("show");

    };

    window.onload = function() {
        // var cookies = cookie.all();
        // var consent = cookie.get('isSet');
        // var gotEmail = cookie.get('gotEmail');
        // if (!consent || consent == "false") {
        //     console.log("!Consetn || consent == false");
        //     cookieConsent();
        //     // showCmModal('#interactiveModal13');
        // }
        // if (consent == "true") {
        //     if (!gotEmail) {
        //         console.log("consent = true");
        //         showCmModal('#interactiveModal3');
        //     }else{
        //         hideCmModal();
        //     }

        // }


    }
</script>