{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load i18n wagtailcore_tags %}
{% block content %}
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        
        <title>
            {{ self.header_title }}
        </title>
        <meta name="description" content="{{self.meta_content}}" />
        
    </head>
<!-- <html lang="en">{% include "head.html" %}
    {% for post in posts %}   
<title>{{post.header_title}}</title>
<meta name="description" content="{{post.meta_content}}">{% endfor %}
<!-- Favicon-->
</head> 

<body>
    <!-- Preloader-->
    <!-- Header Area-->
    {% include "header.html" %}
    <!-- Breadcrumb Area-->

    <!-- Blog Area-->
    <div class="saasbox--blog--area blog-full section-padding-120">
        <div class="container">
            <div class="row">   
                {% for post in posts %}   
                {% image post.blog_list_image original as blog_img %}
                                           
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="card blog-card border-0 mb-50 no-boxshadow rounded-0">
                        <a class="d-block mb-4" href="{{ post.url }}">
                            <img src="{{ blog_img.url }}" alt="{{ blog_img.alt }}">
                        </a>
                        <div class="post-content">
                            <a class="d-block mb-1" href="{{ post.url }}">{{ post.category}}</a>
                            <a class="post-title d-block mb-3" href="{{ post.url }}">
                                <h4>{{ post.title }}</h4>
                            </a>
                            <div class="post-meta"><span class="text-muted">{{ post.read_time }}</span></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            
         


            <!-- Pagination Area-->
            <div class="saasbox-pagination-area mt-4" style="display: none;">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">9</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- Cool Facts Area-->
    <section class="cta-area cta3 py-5">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-sm-8">
                    <div class="cta-text mb-4 mb-sm-0">
                        <h4 class="text-white mb-0">{{ self.requestcontent }}</h4>
                    </div>
                </div>
                <div class="col-12 col-sm-4 text-sm-right"><a class="btn saasbox-btn white-btn" href="/contact-form/">{{ self.requestbutton }}</a></div>
            </div>
        </div>
    </section>
    <!-- Footer Area-->
    {% include "footer.html" %}

    <!-- All JavaScript Files-->
    {% include "all_js.html" %}


</body>
</html>
{% endblock %}