
{% extends 'base.html' %}
{% load wagtailimages_tags wagtailcore_tags %}
{% load wagtailcore_tags widget_tweaks %}
{% block content %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap" rel="stylesheet">
      
    <title>Thank-you</title>
    <style>
       .jumbotron h1 {
    font-weight: 400;

}
.jumbotron h1 span {
    font-weight: 700;
    color:  #F64800;
}
.jumbotron .btn {
    font-weight: 500;
    background-color:  #F64800;
    border-color:  #F64800;
    font-size: 1rem;
}
      </style>
  </head>
  <body>
    <!-- Preloader-->
    <!-- Header Area-->{% include "header.html" %}
    <!-- Scroll Indicator-->
    <div id="scrollIndicator"></div>
    <!-- Breadcrumb Area-->
    <!-- saasbox Blog Area-->
    <div class="saasbox--blog--area section-padding-120">
      <section>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-7 col-12 py-4 text-center">
              <img src="/static/img/partners/thank-you.png/" class="img-fluid">
              <h3 class="text-body mt-4">Great!</h3>
              <h3 class="text-body">Thank you for reaching out</h3>
              <p class="text-dark mb-0 pt-3" style="font-weight: 500;">Our team will be in touch with you as soon as possible.</p>
          </div>
          </div>
        </div>
      </section>
      </div>
    <!-- Footer Area-->{% include "footer.html" %}
    <!-- All JavaScript Files-->{% include "all_js.html" %}
  </body>
</html>
{% endblock %}