{% extends 'base.html' %}
{% load wagtailimages_tags wagtailcore_tags %}
{% load wagtailcore_tags widget_tweaks %}
{% block content %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap" rel="stylesheet">
      
    <title>For Partners</title>

  </head>
  <body>
    <!-- Preloader-->
    <!-- Header Area-->{% include "header.html" %}
    <!-- Scroll Indicator-->
    <div id="scrollIndicator"></div>
    <!-- Breadcrumb Area-->
    <!-- saasbox Blog Area-->
    <div class="saasbox--blog--area section-padding-120">
      <section class="jumbotron bg-dark">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6 col-12 py-4">
              <h1 class="text-white">SCALE NEW HEIGHTS  AND WIN MORE DEALS</h1>
              <h1 class="text-white">by selling <span>Domitos!!</span></h1>
              
              <div class="clearfix py-3"></div>
              <p class="text-white">Explore our partner programs, find the one that's right for you, and let's start growing better together.</p>
              <a class="btn btn-primary btn-lg text-uppercase mt-4 float-right mr-50 px-5" href="/resources/partners/partner-form/" role="button">Become a Partner Now</a>
          </div>
          </div>
        </div>
      </section>
  
      <section>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-7 col-12 py-4">
              <p class="text-dark mb-0" style="font-weight: 500;">The Domitos Partner Program is designed to connect best-in-class organizations from various industries, geographies, and verticals with our Facility management solution. Our customers can benefit from the joint value proposition provided by Domitos and our partners when they work together.</p>
          </div>
          </div>
        </div>
      </section>

    </div>
    
    <!-- Footer Area-->{% include "footer.html" %}
    <!-- All JavaScript Files-->{% include "all_js.html" %}
  </body>
</html>
{% endblock %}