{% extends 'base.html' %}
{% load wagtailimages_tags wagtailcore_tags %}
{% block content %}
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        
        <title>
            {{ self.header_title }}
        </title>
        <meta name="description" content="{{self.meta_content}}" />
        
    </head>
    <body>
    <!-- Preloader-->
    <!-- Header Area-->{% include "header.html" %}
    <!-- Scroll Indicator-->
    <div id="scrollIndicator"></div>
    <!-- Breadcrumb Area-->
    <!-- saasbox Blog Area-->
    <div class="saasbox--blog--area section-padding-120">
        <div class="container">

            <div class="row">
                
                <div class="col-12">
                        <h1 class="text-center">{{ self.terms_title }}<hr></h1><br>
                        
                        <span>{{ self.terms_content }}</span>

                    </div>
                    
            </div>
        </div>
    </div>
    <!-- Cool Facts Area-->
    <section class="cta-area cta3 py-5">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-sm-8">
                    <div class="cta-text mb-4 mb-sm-0">
                        <h4 class="text-white mb-0">Lets start with the simple way to create a website.</h4>
                    </div>
                </div>
                <div class="col-12 col-sm-4 text-sm-right"><a class="btn saasbox-btn white-btn" href="#">Buy Now</a></div>
            </div>
        </div>
    </section>
    <!-- Footer Area-->{% include "footer.html" %}
    <!-- All JavaScript Files-->{% include "all_js.html" %}</body>


{% endblock %}
</html>