<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% load wagtailcore_tags widget_tweaks %}
{% block content %}

<html class="no-js" lang="en">
    <head>
        
        <title>
            {{ self.header_title }}
        </title>
        <meta name="description" content="{{self.meta_content}}" />
        
    </head>
    <body>

    <!-- Preloader-->
    <!-- Header Area-->{% include "header.html" %}
    <!-- Scroll Indicator-->
    <div id="scrollIndicator"></div>
    <!-- Breadcrumb Area-->
    <!-- saasbox Blog Area-->
    <div class="saasbox--blog--area section-padding-120">
        <div class="container">

            <div class="row">
                <div class="single-blog-details-area">

                    <!-- Contact Area-->
                    <div class="saasbox-contact-us-area section-padding-120-40">
                        <div class="container">
                            <div class="row justify-content-between">
                                <!-- Contact Side Info-->
                                <div class="col-12 col-lg-5 col-xl-4">
                                    <div class="contact-side-info mb-80">
                                        <h2 class="mb-3">{{ self.content1 }}</h2>
                                        <p class="mb-4">{{ self.content2 }}</p>
                                        <div class="contact-mini-card-wrapper">
                                            <!-- Contact Mini Card-->
                                            <div class="contact-mini-card">
                                                <div class="contact-mini-card-icon"><i class="lni lni-envelope"></i></div>
                                                <p>{{ self.emailID }}</p>
                                            </div>
                                            <!-- Contact Mini Card-->
                                            <div class="contact-mini-card">
                                                <div class="contact-mini-card-icon"><i class="lni lni-headphone-alt"></i></div>
                                                
                                                <p> {{ self.phoneNo }}</p>
                                                
                                            </div>
                                            <!-- Contact Mini Card-->
                                            <div class="contact-mini-card">
                                                <div class="contact-mini-card-icon"><i class="lni lni-tag"></i></div>
                                                <p>{{ self.time }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Contact Form-->
                                <div class="col-12 col-lg-7">
                                    <div class="contact-form mb-80">
                                        <form action="{% pageurl page %}" method="POST">
                                            {% csrf_token %}
                                            
                                            {% for field in form %}
                                            <div class="form-group">
                                              {{ field.label_tag }}
                                              {% render_field field class+="form-control" %}
                                             
                                            </div>
                                          {% endfor %}
                                            
                                            <div class="col-12 text-center">
                                                <button class="btn saasbox-btn w-100" onclick="clickAlert()" type="submit">{{ self.button }}</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Google Maps-->
                    <div class="google-maps-wrapper">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.8222805865703!2d103.82070531409195!3d1.2802902621532428!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da197d494711f9%3A0x846ec7d9a5fdce56!2s120%20Lower%20Delta%20Rd%2C%20Singapore%20169208!5e0!3m2!1sen!2sin!4v1597302103624!5m2!1sen!2sin"
                            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> </div>
                </div>
                <!-- Post Tag & Share Button-->

                <!-- Comments Area-->

            </div>
        </div>
    </div>
    <!-- Cool Facts Area-->
    <section class="cta-area cta3 py-5">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-sm-8">
                    <div class="cta-text mb-4 mb-sm-0">
                        <h5 class="text-white mb-0">{{ self.requestcontent }}</h5>
                    </div>
                </div>
                <div class="col-12 col-sm-4 text-sm-right"><a class="btn saasbox-btn white-btn" href="#">{{ self.requestbutton }}</a></div>
            </div>
        </div>
    </section>
    <!-- Footer Area-->{% include "footer.html" %}
    <!-- All JavaScript Files-->{% include "all_js.html" %}


{% endblock %}
</body>
</html>